name: gurbani_daily_app
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.0

dependencies:
  flutter:
    sdk: flutter

  # Packages you need for the Gurbani app
  shared_preferences: ^2.0.15
  flutter_local_notifications: ^12.0.4
  share_plus: ^6.3.0
  google_fonts: ^4.0.3
  intl: ^0.18.1
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/quotes.json
